#addnote{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: blue;
}
.container{
    border: 2px solid black;
    width: 600px;
}
.main-form {
    width: 50%;
  }
  
  .example-full-width {
    width: 100%;
  }